.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

/* Navbar Elements */

#Navbar {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flexbox;
  border-bottom: 5px solid white;
}

#Navbar-name {
  color: white;
  font-weight: 100;
}

#Navbar-name:hover {
  color: hotpink;
  font-weight: bold;
  cursor: pointer;
}

#Navbar-surename {
  margin-left: 50px;
}

#Navbar-div-left {
  float: left;
}

#Navbar-div-right {
  float: right;
  padding-right: 50px;
  padding-top: 35px;
}

#Navbar-div-center {
  display: inline-block;
  padding-top: 5px;
}

#navbar-portfolio {
  color: white;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
}

#navbar-portfolio:hover {
  color: hotpink;
}

.links a {
  font-size: 20px;
  color: hotpink;
  text-decoration: none;
  padding-bottom: 2px;
  margin: 10px;
}

.links a:hover {
  color: white;
}

/* About me section */

.About-me-div {
  width: 100%;
  height: 650px;
  position: absolute;
  top: 17%;
}

.About-me-div-banner {
  width: 100%;
  height: 650px;
  background-image: url('../public/about-me-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(5px);
}

.about-me-header {
  margin: 0;
  padding-top: 50px;
}

.underline {
  width: 280px;
  height: 5px;  
  background-color: aquamarine;
  margin: auto;
  margin-top: 5px;
  border-radius: 3px;
}

#about-me-wrapper {
 display: flex;
}

.about-me-content {
  width: 45%;
  height: 450px;
  margin: 0 auto;
  margin-top: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.about-me-para-header {
  font-size: 35px;
  font-family: 'Segoe UI';
  font-weight: 500;
  letter-spacing: 4px;
  color: hotpink;
  margin-bottom: 0;
}

.underline-2 {
  width: 160px;
  height: 3px;  
  background-color: hotpink;
  margin: auto;
  margin-top: 3px;
  border-radius: 3px;
}

.about-me-para {
  font-size: 23px;
  font-family: 'Segoe UI';
  letter-spacing: 3.5px;
  word-spacing: 1px;
  color: whitesmoke;
}

/* Skills Section  */

#skills-section {
  width: 100%;
  height: 160px;
  background-color: black;

}

.skills-wrapper {
  display: flex;
}

.skills-content {
width: 12%;
height: 140px;
background-color: aquamarine;
margin: 0 auto;
margin-top: 10px;
}

.skills-image {
 
}

/* Colors + Fonts */

.white-color {
  color: white;
}

.oragne-color {
  color: orange;
}

.aqua-color {
  color: aquamarine;
}
 /* Media Queries */

 @media screen and (max-width: 650px) {
  #navbar-portfolio{
    display: none;
  }
}

@media screen and (max-width: 488px) {
  #Navbar-image{
    display: none;
  }
}

@media screen and (max-width: 415px) {
  #Navbar-name{
    font-size: 20px;
  }
  .links a {
    font-size: 15px;
  }

}

@media screen and (max-width: 390px) {
  .links a {
    margin: 5px;
  }

}

@media screen and (max-width: 330px) {
 
  #Navbar-div-right {
    padding-right: 20px;
  }
}

