.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #151320;
}

/* Colors + Fonts ------------------------------------------------------------*/

.white-color {
  color: white;
}

.oragne-color {
  color: orange;
}

.aqua-color {
  color: aquamarine;
}

/* Navbar Elements ----------------------------------------------------------*/

#Navbar {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flexbox;
  border-bottom: 5px solid white;
}

#Navbar-name {
  color: white;
  font-weight: 100;
}

#Navbar-name:hover {
  color: hotpink;
  font-weight: bold;
  cursor: pointer;
}

#Navbar-surename {
  margin-left: 50px;
}

#Navbar-div-left {
  float: left;
}

#Navbar-div-right {
  float: right;
  padding-right: 50px;
  padding-top: 35px;
}

#Navbar-div-center {
  display: inline-block;
  padding-top: 5px;
}

#navbar-portfolio {
  color: white;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
}

#navbar-portfolio:hover {
  color: hotpink;
}

.links a {
  font-size: 20px;
  color: hotpink;
  text-decoration: none;
  padding-bottom: 2px;
  margin: 10px;
}

.links a:hover {
  color: white;
}

/* About me section --------------------------------------------------------*/

.About-me-div {
  width: 100%;
  height: 650px;
  position: absolute;
  top: 17%;
}

.About-me-div-banner {
  width: 100%;
  height: 800px;
  background-image: url('../public/about-me-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(3px);
}

.about-me-header {
  margin: 0;
  padding-top: 50px;
}

.underline {
  width: 280px;
  height: 5px;  
  background-color: aquamarine;
  margin: auto;
  margin-top: 5px;
  border-radius: 3px;
}

#about-me-wrapper {
 display: flex;
}

.about-me-content {
  width: 45%;
  height: 450px;
  margin: 0 auto;
  margin-top: 40px;
  color: #a0a0a0;
  background-color: rgba(0, 0, 0, 0.762);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.about-me-para-header {
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: hotpink;
  margin-bottom: 0;
}

.underline-2 {
  width: 160px;
  height: 3px;  
  background-color: hotpink;
  margin: auto;
  margin-top: 3px;
  border-radius: 3px;
}

.about-me-para {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
  color: #a0a0a0;
}

/* Skills Section -------------------------------------------------------- */

#skills-section {
  width: 100%;
  min-height: 170px;
  background-color: #151320;
  border-top: 5px solid white;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.skills-content {
width: 190px;
height: 140px;
background-color: none;
margin: 0 auto;
margin-top: 10px;
}

.skills-image {
  margin-top: 20px;
}

/* Project Section ------------------------------------------------------*/

.project-title-container {
  padding: 100px;
  background-color: #151320;
}

.project-title-div {
width: 100%;
height: 45px;
position: relative;
}

.project-title-div::after, .project-title-div::before {
  content: '';
  position: absolute;
  margin: auto;
  height: 2px;
  background-color: #2bdce3;
  width: 45%;
  top: 45%;
}

.project-title-div::after {
  left: 0;
}

.project-title-div::before {
  right: 0;
}

.project-title {
color: white;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}

#project-container{
background-color: #151320;
display: grid;
place-items: center center;
text-align: start;
font-family: 'Poppins', sans-serif;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  padding: 20px;
  grid-gap: 40px;
}

.card {
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.card-container {
  position: relative;
  clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
}

.project-image {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.card-container:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}

.card1>.card-container:after{
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}

.card2>.card-container:after{
  background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
}

.card3>.card-container:after{
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}

.card4>.card-container:after{
  background-image: linear-gradient(135deg, #0100ec, #fb36f4);
}

.card5>.card-container:after{
  background-image: linear-gradient(135deg,#2bdce3, #42ffdb);
}

.card6>.card-container:after{
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}

.card-details {
  padding: 20px 10px;
}

.card-details > h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.card-details > p {
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

/* Open To Work Section ---------------------------------------------------------------------------------------------------------------------------*/

#open-to-work-section-div {
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: #2bdce3;
  width: 100%;
  height: 200px;
  text-align: start;
  color: white;
}

.open-to-work-container {
  padding-left: 20px;
  padding-top: 5px;
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.open-to-work-content{
  width: 45%;
  min-height: 190px;
  background-color: none;
  margin: auto;
}

.open-to-work-content > h2 {
  font-size: 30px;
}

.open-to-work-para {
  font-size: 17px;
}

.open-to-work-content > h2 > span {
  font-size: 23px;
}

/* Contact Form Section -------------------------------------------------- */

.contact-container {
  background-color: #42ffdb;
  width: 100%;
  padding-bottom: 300px;
}





 /* Media Queries */

 @media screen and (max-width: 1340px) {
  .about-me-content {
    height: 400px;
  }

  .project-title-div::after, .project-title-div::before {
    width: 40%;
  }
}

@media screen and (max-width: 1200px) {
  #open-to-work-section-div {
    height: 250px;
  }
}

@media screen and (max-width: 1118px) {
  .about-me-content {
    height: 500px;
  }
}

@media screen and (max-width: 876px) {
  .about-me-content {
    height: 550px;
  }

  #open-to-work-section-div {
    height: 270px;
  }
}

@media screen and (max-width: 762px) {
  .project-title-div::after, .project-title-div::before {
    width: 35%;
  }

  .about-me-content {
    height: 600px;
  }
}

@media screen and (max-width: 676px) {
  .about-me-para {
    font-size: 17px;
  }

  .about-me-content {
    height: 570px;
  }

  #open-to-work-section-div {
    height: 300px;
  }

  .project-title-div::after, .project-title-div::before {
    width: 32%;
  }
}

@media screen and (max-width: 650px) {
 #navbar-portfolio{
   display: none;
 }
}

@media screen and (max-width: 604px) {
  #open-to-work-section-div {
    height: 350px;
  }
}

@media screen and (max-width: 554px) {
  .about-me-content {
    height: 600px;
  }

  .project-title-div::after, .project-title-div::before {
    width: 29%;
  }
}

@media screen and (max-width: 488px) {
  #Navbar-image{
    display: none;
  }

  .about-me-para {
    font-size: 15px;
  }

  #open-to-work-section-div {
    height: 390px;
  }

  .project-title-div::after, .project-title-div::before {
    display: none;
  }
}

@media screen and (max-width: 436px) {
  .card {
    margin: auto;
    width: 400px;
  }

  #open-to-work-section-div {
    height: 430px;
  }
}

@media screen and (max-width: 415px) {
  #Navbar-name{
    font-size: 20px;
  }
  .links a {
    font-size: 15px;
  }

  .about-me-para {
    font-size: 14px;
  }

  .card {
    width: 300px;
  }
}

@media screen and (max-width: 390px) {
  .links a {
    margin: 5px;
  }

  .about-me-content {
    height: 500px;
  }

  .about-me-para {
    font-size: 12px;
  }

  .card {
    width: 250px;
  }
}

@media screen and (max-width: 370px) {
  .underline-2 {
    width: 130px;
  }

  .about-me-content {
    height: 580px;
  }

  #open-to-work-section-div {
    height: 500px;
  }
}

@media screen and (max-width: 330px) {
  #Navbar-div-right {
    padding-right: 20px;
  }

  #open-to-work-section-div {
    height: 590px;
  }
}

